<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleName</key>
	<string>MiniVideoInfos</string>

	<key>CFBundleDisplayName</key>
	<string>MiniVideoInfos</string>

	<key>CFBundleExecutable</key>
	<string>MiniVideoInfos</string>

	<key>CFBundleIdentifier</key>
	<string>io.emeric.minivideoinfos</string>

	<key>CFBundleVersion</key>
	<string>001001</string>

	<key>CFBundleShortVersionString</key>
	<string>0.10</string>

	<key>CFBundleIconFile</key>
	<string>AppIcon</string>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>

	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>MinimumOSVersion</key>
	<string>16.0</string>

	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>

	<key>NSHighResolutionCapable</key>
	<true/>

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Multimedia</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
				<string>public.audio</string>
				<string>public.movie</string>
			</array>
		</dict>
	</array>

	<key>UISupportsDocumentBrowser</key>
	<false/>
</dict>
</plist>
